Package: com.matdev.moderncc
Name: ModernCC
Depends: mobilesubstrate
Version: 0.0.4
Architecture: iphoneos-arm
Description: ModernCC, this time with less bugs.
Maintainer: MatDev
Author: MatDev
Section: Tweaks
